@import "src/assets/styles/variables.module";
@import "src/assets/styles/mixins.module";

.signUpContainer {
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .passwordRecovery {
    padding: 25px 0;
    height: 372px;
    background-color: $componentColor;
    display: flex;
    justify-content: center;
    max-width: 378px;
    color: $textColor;

    .passwordRecovery__title {
      font-size: 20px;
    }

    .formBlock {
      @include myFont(20px, 700, 36px, $textColor);
      padding: 0 24px;
      height: 100%;
      width: 100%;

      .passwordRecovery__labelInput {
        color: #4C4C4C;
        margin-bottom: 0;
      }

      & input {
        color: #BDC1C7;
        width: 100%;
        border: none;
        border-bottom: 1px solid #333333;
        outline: none;
      }

      & .passwordRecovery__textSubEmail {
        margin-top: 7px;
        @include myFont(14px, 400, 24px, #BDC1C7);
      }

      .passwordRecovery__button {
        margin-top: 41px;
        border-radius: 2px;
        background-color: #397DF6;
        @include myFont(16px, 600, 24px, #FFF);
        cursor: pointer;
      }
    }

    .passwordRecovery__backLink {
      @include myFont(16px, 600, 24px, #397DF6);
    }
  }
}

