@import "src/assets/styles/variables.module";
.container{
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
.header{
  background-color:$backgroundColor;
  border: none;
  border-bottom: #171717 solid 2px;
  height: 50px;
}
.title{
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $titleColor;
  font-size: 30px;
  font-weight: normal;
}

.logout{
  display: flex;
  width: 90px;
  justify-content: space-between;
  align-items: center;
  color:$titleColor;
  margin-right: 64px;
  font-size: 14px;
  line-height: 24px;
}