@mixin myFont($fontSize,$fontWeight,$lineHeight,$color,$font:'inter'){

  font-family:  $font,sans-serif ;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  font-size:$fontSize;
  color:$color;
}